# Webフレームワーク本体
fastapi

#  FastAPIを動かすためのASGIサーバー
uvicorn[standard]


#  .env ファイルを読み込むため
python-dotenv

# 画像生成（Pillow）のため
Pillow

#祝日判定のため
holidays

# googleモジュール使用のため
google-api-python-client
google-auth-oauthlib
requests