# Python環境設定
DB_HOST=mysql
DB_PORT=3306
DB_USER=username
DB_PASSWORD=your_password
DB_NAME=your_database

# MySQL初期設定
MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_DATABASE=your_database
MYSQL_USER=username
MYSQL_PASSWORD=your_password
